* {
    -pref-width: 120px;
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "arial";
  //-fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2a5058);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

.button:hover {
    -fx-background-color: linear-gradient(#2a5058, #61a2b1);
}

BoarderPane {
    -fx-pref-width: 720;
    -fx-pref-height: 1280;
}

VBox {
    -fx-padding: 10;
    -fx-spacing: 10;
}

Button {
    -fx-pref-width: -pref-width;
}

Label {
    -fx-pref-width: -pref-width;
}

ComboBox {
    -fx-pref-width: -pref-width;
}

Separator {
    -fx-pref-width: -pref-width;
}