* {
    -pref-width: 130px;
}

BoarderPane {
    -fx-pref-width: 720;
    -fx-pref-height: 1280;
}

VBox {
    -fx-padding: 10;
    -fx-spacing: 10;
}

Button {
    -fx-pref-width: -pref-width;
}

Label {
    -fx-pref-width: -pref-width;
    -fx-alignment: CENTER;
    -fx-content-display: CENTER;
    -fx-text-alignment: CENTER;
}

ComboBox {
    -fx-pref-width: -pref-width;
}

Separator {
    -fx-pref-width: -pref-width;
}

Pawn {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

TextField {
    -fx-fit-to-width: true;
    -fx-pref-width: 120.0;
}